* {
    Margin:0;
    padding:0;
    }
#barradenav { background-color: whitesmoke; position: absolute; top: 100px; left: 700; width: 625;}
#logo {height: 200; width: 3000; overflow: hidden; display:inline-flex; position: relative; left: 150}

h1 {size: 14px; font-family: 'Open Sans'}
h2 {size: 12px; font-family: 'Open Sans'}
h3 {size: 10px; font-family: 'Open Sans'}
h4 {size: 8px; font-family: 'Open Sans'}

header {background-color: 003049;}

footer {background-color: 003049; padding-top: 100;}
main {background-color: whitesmoke}


.separado {margin-right: 10;}
.centrado {text-align:center}
.alaizquierda {width: 500; position: relative; left: 600px}
.aladerecha {width: 500; position: relative; top: 200px}

#contactenos {text-align: center; color: white; padding-bottom: 30;}

#Foto5 {position: relative; width: 450;bottom: 175; left: 45; background-color: D62828;}
#Foto6 {position: relative; width: 450; height: 350; left: 45; padding-bottom: 10;}

#reglasgrales { border-style: dotted; margin-bottom: 20}
#faq {padding-bottom: 30; overflow: hidden;padding-top: 10;margin-top: -60; margin-bottom: -50;}

.fondomarron {background-color: brown;}

.menosespacio {padding-top: 0}
.fotosindex {height: 350; width: 550; padding-bottom: 50}
.despegar {padding-left: 30;}
#despegar {padding-left: 30}
#vete {padding-left: 100; padding-right: -100; height: 450;}
